<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Feedback FAB + console capture, contributed into the shell footer when feedback is enabled. -->
    <th:block th:fragment="fab">
        <script th:src="@{/feedback/feedback-capture.js}"></script>
        <script type="module" th:inline="javascript">
            const { initFeedbackFab } = await import(/*[[@{/feedback/feedback-fab.js}]]*/ '/feedback/feedback-fab.js');
            initFeedbackFab(/*[[${tenantId}]]*/ 'tenant');
        </script>
    </th:block>
</body>
</html>
