/*
 * Base / CSS Reset
 *
 * Global styles and resets applied to all elements.
 */


/* 
 * Apply only when not in editor mode
 * Reason is NOT to interfere with tailwind + shadcn defaults in editor
 */
html:not([editor="true"]) {
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
  line-height: var(--tw-leading);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
}